<nav>
    <div class="logout-button">
        <a href="/logout">
            LOGOUT
        </a>
    </div>
</nav>
<h1>Search it, Buy it!</h1>
<div class="search-container">
    <div id="drop-area">

        <form id="uploadForm" method="post" enctype="multipart/form-data" class="search-form" action="/search" ref="uploadForm">
            <label for="form-input">
                Search it, Buy it!
            </label>
            <input type="file" class="form-input" id="file-pb" name="file" onchange="handleFiles(files)">

            <div id="gallery"></div>

            <input class="form-button-search" type="submit" value="Upload">

        </form>
            
    </div>

</div>


<script src="js/dragndrop.js" type="text/javascript"></script>